<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AAvian's Games and "Games"</title>

    <!--jquery cdn-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <!--angular cdn-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!--bootstrap cdns-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script>var app = angular.module('myapp', []);</script>
    <script src="js/games/games.js"></script>
</head>

<body ng-app="myapp">

<navbar-thing></navbar-thing>

<div class="container" ng-controller="tabController">

<div class="alert alert-info alert-dismissible text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h2>
        <strong>Warning!</strong> Stuff here is rough, unfinished, and/or boring. Read if you want.
    </h2>
</div>

<ul class="nav nav-pills" id="games-tab">
    <li role="presentation" class="active"><a href="#home">Main</a></li>
    <li role="presentation" ng-repeat="entry in entries">
        <a href="#{{entry.tab}}">{{entry.tab}}</a>
    </li>
</ul>

<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        <div class="jumbotron text-center">
            <h1>
                Writing games is pretty hard.
            </h1>
            <h2>
                Maybe, if I wanted to actually make games, I wouldn't do it from this low level.
            </h2>
        </div>
        <p>
            I kinda do want to make games, but I much prefer getting good at programming.
            So here's what I've been doing for the last couple years.
            Listed projects are roughly in order of creation.
        </p>
    </div>

    <!--oh wowee look at this hot mess-->
    <div ng-repeat="entry in entries" id="{{entry.tab}}" class="tab-pane fade">

        <h2 class="text-center">{{entry.title}}</h2>

        <div class="well container">
            <div class="col-md-4" ng-if="entry.images">
                <img ng-repeat="image in entry.images" class="img-responsive" src="res/games/{{image}}" alt="res/games/{{image}}">
            </div>

            <div ng-class="{true:'col-md-8', false:'col-md-12'}[entry.images]">
                <div ng-if="entry.link">
                    <a ng-href="{{entry.link}}">Link! ({{entry.link}})</a>
                    <hr>
                </div>
                <div ng-repeat="text in entry.text">
                    <blockquote>
                        {{text}}
                    </blockquote>
                </div>
            </div>
        </div>

    </div>
</div>

<hr>

</div>

<hr>

<footer>
    <div class="container">
        &copy; 2017 ArtlessAvian
    </div>
</footer>

<script>
    app.directive('navbarThing', function() {
      return {
          restrict: 'AE',
          replace: 'true',
          templateUrl: 'directives/navbar-thing.html'
      };
    });
</script>

</body>
</html>