<!-- <nav class="navbar navbar-inverse"> -->
    <!-- <div class="container-fluid"> -->
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle navbar-brand" data-toggle="dropdown" href="#">ArtlessAvian <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="index.html">Home</a></li>
                    {%- for entry in site.html_pages -%}
                        {%- if entry.title == 404 %}
                            {%- continue -%}
                        {%- elsif entry.title == "Home" %}
                            {%- continue -%}
                        {%- endif -%}
                    <li><a href="{{entry.url}}">{{entry.title}}</a></li>
                    {%- endfor -%}
                </ul>
            </li>
        </ul>
    <!-- </div> -->
<!-- </nav>  -->