{% assign entry = site.data.portfolio[include.id] %}

<div class="dashed"> </div>

<div>
    <div id="{{include.id}}" class="portfolio-top">
        <h1 style="flex-grow: 100">{{entry.name}}</h1>
    </div>
    <div class="portfolio-content">
        <div class="portfolio-text">
            {{entry.description | markdownify}}

            {% if {{entry.link}} %}
            <a style="white-space: nowrap;" href="{{entry.link}}" target="_blank">({{entry.link_label}})</a>
            {% if {{entry.repo}} %}
            <br>
            {% endif %}
            {% endif %}
            {% if {{entry.repo}} %}
            <a style="white-space: nowrap;" href="https://github.com/{{entry.repo}}" target="_blank">(Github Repo)</a>
            {% endif %}

        </div>
        <div class="portfolio-media">
            {%- for image in entry.images -%}
            <img src="{{image}}">
            {%- endfor -%}
            {%- for video in entry.videos -%}
            <video controls>
                <source src="{{video}}">
            </video>
            {%- endfor -%}
        </div>
    </div>
</div>