@media (max-width: 1020px) {
    .test-responsive {
        box-shadow: 0px 0px 5px blue;
    }

    .click-images-prompt {
        display: none;
    }

    .portfolio-top {
        small * {
            margin-left: 10px
        }

        small *:first-child {
            margin-left: 0px
        }
    }

    .portfolio-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .portfolio-media {
        // max-width: 500px;
        margin: 0 auto 0 auto;

        img,
        video {
            margin-top: 10px;
            width: 100%;
            max-height: 400px;
        }
    }
}