@media (min-width: 992px) {

    .affix {
        position: fixed;
        top : 20px;
    }
}


body {
    position: relative;
}

.jumbotron {
    margin-bottom: 0px;
}

.well h3 {
    margin-top: 0px;
}

.well p {
    margin-bottom: 0px;
}