---
layout : default
---

<div class="jumbotron text-center" style="margin-bottom: 0px">
    <h1>Ryan's Stuff</h1>
</div>
{%- include navbar-centered.html -%}

<div class="container"> <div class="row">

    <div class="col-xs-12 col-md-10 order-1">

        <div class="card card-body" style="margin:1.25rem">
            <div class="row">
                <h2 class="col-md-6">{{page.title}}</h2>
                <div class="col-md-6" style="text-align: right; transform: translateY(50%)">
                    <h4 style="transform: translateY(-50%)">
                        {{ page.rough-start | date: "%B %Y" }}
                        {%- if page.rough-end -%}
                            &nbsp;-
                            {{ page.rough-end | date: "%B %Y" }}
                        {%- endif -%}
                    </h4>
                </div>
            </div>

            <div class="row">
                    <h4 class="col-md-6"><small>{{page.description}}</small></h4>
                <div class="col-md-6" style="text-align: right">
                {%- if page.github-repo -%}
                {%- assign github-link = page.github-repo | prepend : "https://github.com/ArtlessAvian/" -%}
                    <a target="_blank" href="{{github-link}}">Github Repo</a>
                    <a target="_blank" href="{{github-link | append : "/network"}}" class="small">(Network graph)</a>
                {%- endif -%}
                </div>
            </div>
        </div>
        
        {{ content }}
        
        <i><strong>
            {%- for tag in page.tags -%}
                {{ tag }}
                {%- unless forloop.last -%}
                ,&nbsp;
                {%- endunless -%}
            {%- endfor -%}
        </strong></i>

    </div>

    <!-- Other Articles -->
    <div class="col-xs-12 col-md-2 order-12">

        {%- assign sorted = site.notable_proj_collection | sort:"rough-start" | reverse -%}
        {%- assign lastYear = sorted[0].rough-start | slice: 0, 4 -%}
        <h3>{{lastYear}}</h3>
        <div class="list-group">
        {%- for item in sorted -%}
            {%- assign theYear = item.rough-start | slice: 0, 4 -%}
            {%- if lastYear != theYear -%}
                {%- assign lastYear = theYear -%}
        </div>
        <h3>{{theYear}}</h3>
        <div class="list-group">
            {%- endif -%}

            <a href="{{item.url}}" class="list-group-item
                    {% if item == page %}
                    active
                    {%- endif -%}
                    ">{{item.title}}</a>
        {%- endfor -%}
        </div>
        
    </div>

</div> </div>
</div>