@media (min-width: 992px) {

    .affix {
        position: fixed;
        top : 20px;
    }
}


body {
    position: relative;
    line-height: 1.5
}

.jumbotron {
    margin-bottom: 0px;
}

.well h3 {
    margin-top: 0px;
}

.well p {
    margin-bottom: 0px;
}


p {
    font-size: 16px;
    /* text-indent: 40px */
}

li {
    font-size: 16px;
}