@media (min-width: 992px) {

    .affix {
        position: fixed;
        top : 30px;
    }
}

body {
    position: relative;
    line-height: 1.5
}

p {
    font-size: 16px;
    /* text-indent: 40px */
}

li {
    font-size: 16px;
}